## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Extract data from Yahoo Finance for Ford from the 1st of January 2005. The ticker you need is ‘F’.

In [2]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

In [5]:
#datos históricos de mercado, The Boeing Company
BA= wb.DataReader('BA', data_source='yahoo', start='2015-1-1')

In [6]:
BA

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,131.839996,129.089996,131.070007,129.949997,4294200.0,112.786011
2015-01-05,129.919998,128.610001,129.660004,129.050003,5024800.0,112.004875
2015-01-06,129.619995,126.180000,129.050003,127.529999,4992800.0,110.685638
2015-01-07,129.970001,128.720001,128.740005,129.509995,3573200.0,112.404106
2015-01-08,131.990005,130.399994,130.600006,131.800003,4503400.0,114.391670
...,...,...,...,...,...,...
2020-11-27,219.929993,216.039993,218.250000,216.500000,9970200.0,216.500000
2020-11-30,217.779999,208.520004,215.699997,210.710007,16501900.0,210.710007
2020-12-01,218.089996,213.000000,214.309998,213.009995,15805200.0,213.009995
2020-12-02,224.990005,210.300003,213.009995,223.850006,25806100.0,223.850006
2020-12-03,242.000000,226.533203,228.300003,239.595200,35846181.0,239.595200