## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd

In [82]:
rnumbers = pd.Series(np.random.randint(10, size=10), name="aleatorios 0 al 9")

In [83]:
rnumbers

0    3
1    2
2    3
3    9
4    7
5    1
6    7
7    8
8    3
9    7
Name: aleatorios 0 al 9, dtype: int32

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [84]:
from pandas_datareader import data as wb

In [98]:
FORD = wb.DataReader('F', data_source = 'yahoo', start='2015-1-1', end='2020-12-2')

In [99]:
FORD

             High    Low   Open  Close      Volume  Adj Close
Date
2015-01-02  15.65  15.18  15.59  15.36  24777900.0  11.190040
2015-01-05  15.13  14.69  15.12  14.76  44079700.0  10.752932
2015-01-06  14.90  14.38  14.88  14.62  32981600.0  10.650939
2015-01-07  15.09  14.77  14.78  15.04  26065300.0  10.956917
2015-01-08  15.48  15.23  15.40  15.42  33943400.0  11.233754
...           ...    ...    ...    ...         ...        ...
2020-11-25   9.25   9.00   9.20   9.08  95217800.0   9.080000
2020-11-27   9.14   9.03   9.12   9.09  27853900.0   9.090000
2020-11-30   9.23   8.98   9.23   9.08  77970100.0   9.080000
2020-12-01   9.40   9.16   9.16   9.24  68970300.0   9.240000
2020-12-02   9.24   9.08   9.16   9.20  48168600.0   9.200000

[1491 rows x 6 columns]