## Importing and Organizing Your Data in Python - Part II

In [2]:
from pandas_datareader import data as wb
import pandas as pd

F = wb.DataReader('F', data_source='yahoo', start='2015-1-1')
F

             High    Low   Open  Close      Volume  Adj Close
Date
2015-01-02  15.65  15.18  15.59  15.36  24777900.0  11.190040
2015-01-05  15.13  14.69  15.12  14.76  44079700.0  10.752932
2015-01-06  14.90  14.38  14.88  14.62  32981600.0  10.650939
2015-01-07  15.09  14.77  14.78  15.04  26065300.0  10.956917
2015-01-08  15.48  15.23  15.40  15.42  33943400.0  11.233754
...           ...    ...    ...    ...         ...        ...
2020-11-27   9.14   9.03   9.12   9.09  27853900.0   9.090000
2020-11-30   9.23   8.98   9.23   9.08  77970100.0   9.080000
2020-12-01   9.40   9.16   9.16   9.24  68970300.0   9.240000
2020-12-02   9.24   9.08   9.16   9.20  48168600.0   9.200000
2020-12-03   9.32   9.20   9.26   9.26  34298391.0   9.260000

[1492 rows x 6 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [3]:
F.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1492 entries, 2015-01-02 to 2020-12-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1492 non-null   float64
 1   Low        1492 non-null   float64
 2   Open       1492 non-null   float64
 3   Close      1492 non-null   float64
 4   Volume     1492 non-null   float64
 5   Adj Close  1492 non-null   float64
dtypes: float64(6)
memory usage: 81.6 KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [5]:
F.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2015-01-02  15.65  15.18  15.59  15.36  24777900.0  11.190040
2015-01-05  15.13  14.69  15.12  14.76  44079700.0  10.752932
2015-01-06  14.90  14.38  14.88  14.62  32981600.0  10.650939
2015-01-07  15.09  14.77  14.78  15.04  26065300.0  10.956917
2015-01-08  15.48  15.23  15.40  15.42  33943400.0  11.233754

In [6]:
F.tail()

            High   Low  Open  Close      Volume  Adj Close
Date
2020-11-27  9.14  9.03  9.12   9.09  27853900.0       9.09
2020-11-30  9.23  8.98  9.23   9.08  77970100.0       9.08
2020-12-01  9.40  9.16  9.16   9.24  68970300.0       9.24
2020-12-02  9.24  9.08  9.16   9.20  48168600.0       9.20
2020-12-03  9.32  9.20  9.26   9.26  34298391.0       9.26

Practice extracting closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use IEX to find the tickers of these companies, if you don’t already know them.

In [22]:
trend_tickers = ['AAL', 'ZS', 'BA']
cierre_trends = pd.DataFrame()
for t in trend_tickers:
    cierre_trends[t] = wb.DataReader(t, data_source= 'yahoo', start= '2015-1-2')['Close']

In [26]:
cierre_trends.head(10)

                  AAL  ZS          BA
Date
2015-01-02  53.910000 NaN  129.949997
2015-01-05  53.880001 NaN  129.050003
2015-01-06  53.040001 NaN  127.529999
2015-01-07  53.009998 NaN  129.509995
2015-01-08  53.660000 NaN  131.800003
2015-01-09  52.020000 NaN  131.539993
2015-01-12  49.580002 NaN  130.869995
2015-01-13  50.400002 NaN  131.169998
2015-01-14  49.410000 NaN  130.380005
2015-01-15  49.410000 NaN  130.139999

In [28]:
cierre_trends.tail(20)

               AAL          ZS          BA
Date
2020-11-05  11.600  150.070007  157.089996
2020-11-06  11.460  150.059998  157.740005
2020-11-09  13.200  128.770004  179.360001
2020-11-10  12.380  127.760002  188.690002
2020-11-11  12.040  135.490005  182.149994
2020-11-12  11.740  140.059998  176.720001
2020-11-13  12.240  131.919998  187.110001
2020-11-16  12.790  133.520004  202.399994
2020-11-17  12.700  136.639999  210.050003
2020-11-18  12.740  135.380005  203.300003
2020-11-19  12.790  138.539993  205.669998
2020-11-20  12.530  143.009995  199.619995
2020-11-23  13.560  143.039993  211.529999
2020-11-24  14.820  141.190002  218.490005
2020-11-25  14.940  146.940002  217.610001
2020-11-27  14.980  149.740005  216.500000
2020-11-30  14.130  155.750000  210.710007
2020-12-01  14.270  151.679993  213.009995
2020-12-02  14.860  146.789993  223.850006
2020-12-03  16.355  183.130005  239.350800

In [30]:
cierre_trends.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1492 entries, 2015-01-02 to 2020-12-03
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAL     1492 non-null   float64
 1   ZS      686 non-null    float64
 2   BA      1492 non-null   float64
dtypes: float64(3)
memory usage: 46.6 KB

In [12]:
tickers = ['AAPL', 'MSFT', 'XOM', 'BP']
datos_tickers = pd.DataFrame()
for ticker in tickers:
    datos_tickers[ticker] = wb.DataReader(ticker, data_source = 'yahoo', start= '2015-5-5')['Close']

In [13]:
datos_tickers

                  AAPL        MSFT        XOM         BP
Date
2015-05-05   31.450001   47.599998  88.610001  43.099998
2015-05-06   31.252501   46.279999  88.190002  42.500000
2015-05-07   31.315001   46.700001  87.599998  41.830002
2015-05-08   31.905001   47.750000  88.989998  42.709999
2015-05-11   31.580000   47.369999  86.779999  42.580002
...                ...         ...        ...        ...
2020-11-27  116.589996  215.229996  40.189999  21.100000
2020-11-30  119.050003  214.070007  38.130001  19.559999
2020-12-01  122.720001  216.210007  38.500000  20.240000
2020-12-02  123.080002  215.369995  39.939999  21.070000
2020-12-03  122.964996  214.479996  40.355000  21.575001

[1408 rows x 4 columns]

***

Repeat this exercise for any stock of interest to you. :)