In [12]:
import numpy as np
import pandas as pd

In [13]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [14]:
ser

0    0.552250
1    0.831748
2    0.673783
3    0.371536
4    0.797787
Name: Column 01, dtype: float64

In [15]:
ser[2]

0.6737833574161772

In [16]:
from pandas_datareader import data as wb

In [18]:
PG = wb.DataReader('PG', data_source='yahoo', start='2015-1-1')

In [19]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,91.000000,89.919998,90.839996,90.440002,7251400.0,75.382736
2015-01-05,91.000000,89.849998,90.230003,90.010002,8626100.0,75.024315
2015-01-06,90.559998,89.260002,90.309998,89.599998,7791200.0,74.682571
2015-01-07,90.370003,89.559998,89.940002,90.070000,5986600.0,75.074326
2015-01-08,91.230003,90.129997,90.480003,91.099998,6823300.0,75.932838
...,...,...,...,...,...,...
2020-11-27,138.889999,137.529999,138.589996,138.610001,4252200.0,138.610001
2020-11-30,139.199997,136.740005,138.000000,138.869995,11640400.0,138.869995
2020-12-01,139.539993,138.160004,139.160004,139.369995,7169700.0,139.369995
2020-12-02,139.940002,137.490005,139.369995,138.360001,6961900.0,138.360001
2020-12-03,138.330002,135.539993,138.089996,136.190002,3670094.0,136.190002